USE [master]
GO
/****** Object:  Database [HAHYWU]    Script Date: 3/26/2023 8:28:15 PM ******/
CREATE DATABASE [HAHYWU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HAHYWU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HAHYWU.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HAHYWU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HAHYWU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HAHYWU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HAHYWU]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID_ACCOUNT] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[ROLE] [varchar](50) NULL,
 CONSTRAINT [pk_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_INFO]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_INFO](
	[ID_ACCOUNT] [varchar](50) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[BIRTHDAY] [date] NULL,
	[GENDER] [bit] NULL,
	[NUMBER] [varchar](50) NULL,
	[ADDRESS] [nvarchar](30) NOT NULL,
 CONSTRAINT [ACCOUNT_INFOR] PRIMARY KEY CLUSTERED 
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID_CLASS] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NULL,
	[ID_LEVEL] [varchar](50) NULL,
	[BEGIN_TIME] [time](7) NULL,
	[END_TIME] [time](7) NULL,
	[DAYS] [varchar](50) NULL,
	[ROOM] [varchar](50) NULL,
 CONSTRAINT [PK_CLASS_1] PRIMARY KEY CLUSTERED 
(
	[ID_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL](
	[ID_LEVEL] [varchar](50) NOT NULL,
	[NAME_LEVEL] [varchar](50) NULL,
	[BEGIN_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[COST] [money] NULL,
 CONSTRAINT [PK_LEVEL] PRIMARY KEY CLUSTERED 
(
	[ID_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID_STUDENT] [varchar](50) NOT NULL,
	[ID_CLASS] [varchar](50) NULL,
	[MARK1] [float] NULL,
	[MARK2] [float] NULL,
	[MARK3] [float] NULL,
	[MARK4] [float] NULL,
	[MARK5] [float] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[ID_STUDENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_CLASS]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_CLASS](
	[ID_STUDENT] [varchar](50) NOT NULL,
	[ID_CLASS] [varchar](50) NOT NULL,
	[TUITION] [money] NULL,
	[STATUS] [bit] NULL,
	[DATE] [date] NULL,
 CONSTRAINT [PK_STUDENT_CLASS] PRIMARY KEY CLUSTERED 
(
	[ID_STUDENT] ASC,
	[ID_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER_CLASS]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER_CLASS](
	[ID_TECHER] [varchar](50) NOT NULL,
	[ID_CLASS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TEACHER_CLASS] PRIMARY KEY CLUSTERED 
(
	[ID_TECHER] ASC,
	[ID_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 3/26/2023 8:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID_TECHER] [varchar](50) NOT NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_TEACHERS_1] PRIMARY KEY CLUSTERED 
(
	[ID_TECHER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([ID_ACCOUNT], [PASSWORD], [ROLE]) VALUES (N'001001', N'001001', N'Manager')
INSERT [dbo].[ACCOUNT] ([ID_ACCOUNT], [PASSWORD], [ROLE]) VALUES (N'001002', N'001002', N'Manager')
INSERT [dbo].[ACCOUNT] ([ID_ACCOUNT], [PASSWORD], [ROLE]) VALUES (N'001003', N'001003', N'Manager')
GO
INSERT [dbo].[ACCOUNT_INFO] ([ID_ACCOUNT], [FULLNAME], [BIRTHDAY], [GENDER], [NUMBER], [ADDRESS]) VALUES (N'001001', N'Phan Trần Nhật Hạ', CAST(N'2003-01-22' AS Date), 1,  N'0913119779 ', N'Đà Nẵng')
INSERT [dbo].[ACCOUNT_INFO] ([ID_ACCOUNT], [FULLNAME], [BIRTHDAY], [GENDER], [NUMBER], [ADDRESS]) VALUES (N'001002', N'Nguyễn Đức Huy', CAST(N'2003-04-25' AS Date), 0, N'0917345739 ', N'Đà Nẵng')
INSERT [dbo].[ACCOUNT_INFO] ([ID_ACCOUNT], [FULLNAME], [BIRTHDAY], [GENDER], [NUMBER], [ADDRESS]) VALUES (N'001003', N'Trần Lê Như Quỳnh', CAST(N'2003-12-01' AS Date), 1, N'0935461332 ', N'Đà Nẵng')
GO
INSERT [dbo].[CLASS] ([ID_CLASS], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A01', N'BASIC01', N'A', CAST(N'17:20:00' AS Time), CAST(N'19:20:00' AS Time), N'Mon-Wed-Fri', N'101')
INSERT [dbo].[CLASS] ([ID_CLASS], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A02', N'BASIC02', N'A', CAST(N'19:30:00' AS Time), CAST(N'21:30:00' AS Time), N'Mon-Wed-Fri', N'101')
INSERT [dbo].[CLASS] ([ID_CLASS], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A03', N'BASIC03', N'A', CAST(N'17:20:00' AS Time), CAST(N'19:20:00' AS Time), N'Tue-Thur-Sat', N'101')
GO
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'A', N'BASIC', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 1500.0000)
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'B', N'INDEPENDENT', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 2000.0000)
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'C', N'PROFICIENT', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 2500.0000)
GO
INSERT [dbo].[STUDENT] ([ID_STUDENT], [ID_CLASS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101001', N'01A01', 300, 460, NULL, NULL, NULL)
INSERT [dbo].[STUDENT] ([ID_STUDENT], [ID_CLASS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101002', N'01A02', 550, 620, NULL, NULL, NULL)
INSERT [dbo].[STUDENT] ([ID_STUDENT], [ID_CLASS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101003', N'01B01', 370, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[ACCOUNT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_INFO_ACCOUNT] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_INFO] CHECK CONSTRAINT [FK_ACCOUNT_INFO_ACCOUNT]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_LEVEL] FOREIGN KEY([ID_LEVEL])
REFERENCES [dbo].[LEVEL] ([ID_LEVEL])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_LEVEL]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_ACCOUNT1] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_ACCOUNT1]
GO
ALTER TABLE [dbo].[STUDENT_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT_CLASS] CHECK CONSTRAINT [FK_STUDENT_CLASS_CLASS]
GO
ALTER TABLE [dbo].[STUDENT_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS_STUDENT] FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT_CLASS] CHECK CONSTRAINT [FK_STUDENT_CLASS_STUDENT]
GO
ALTER TABLE [dbo].[TEACHER_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_CLASS_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[TEACHER_CLASS] CHECK CONSTRAINT [FK_TEACHER_CLASS_CLASS]
GO
ALTER TABLE [dbo].[TEACHER_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_CLASS_TEACHERS] FOREIGN KEY([ID_TECHER])
REFERENCES [dbo].[TEACHERS] ([ID])
GO
ALTER TABLE [dbo].[TEACHER_CLASS] CHECK CONSTRAINT [FK_TEACHER_CLASS_TEACHERS]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHERS_ACCOUNT] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [FK_TEACHERS_ACCOUNT]
GO
USE [master]
GO
