USE [HAHYWU]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [char](10) NOT NULL,
	[PASSWORD] [char](10) NULL,
	[ROLE] [char](20) NULL,
 CONSTRAINT [pk_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_INFO]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_INFO](
	[ID] [char](10) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[BIRTHDAY] [date] NULL,
	[NUMBER] [char](11) NULL,
	[ADDRESS] [nvarchar](30) NOT NULL,
 CONSTRAINT [ACCOUNT_INFOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [char](10) NOT NULL,
	[NAME] [char](20) NULL,
	[ID_LEVEL] [char](10) NULL,
	[BEGIN_TIME] [time](7) NULL,
	[END_TIME] [time](7) NULL,
	[DAYS] [char](20) NULL,
	[ROOM] [char](10) NULL,
 CONSTRAINT [PK_CLASS_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL](
	[ID_LEVEL] [char](10) NOT NULL,
	[NAME_LEVEL] [char](50) NULL,
	[BEGIN_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[COST] [money] NULL,
 CONSTRAINT [PK_LEVEL] PRIMARY KEY CLUSTERED 
(
	[ID_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [char](10) NOT NULL,
	[ID_CLASS] [char](10) NULL,
	[TUITION] [money] NULL,
	[STATUS] [bit] NULL,
	[MARK1] [float] NULL,
	[MARK2] [float] NULL,
	[MARK3] [float] NULL,
	[MARK4] [float] NULL,
	[MARK5] [float] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 3/23/2023 10:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID] [char](10) NOT NULL,
	[ID_CLASS] [char](10) NULL,
	[ROLE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([ID], [PASSWORD], [ROLE]) VALUES (N'001001    ', N'001001    ', N'0                   ')
INSERT [dbo].[ACCOUNT] ([ID], [PASSWORD], [ROLE]) VALUES (N'001002    ', N'001002    ', N'0                   ')
INSERT [dbo].[ACCOUNT] ([ID], [PASSWORD], [ROLE]) VALUES (N'001003    ', N'001003    ', N'0                   ')
GO
INSERT [dbo].[ACCOUNT_INFO] ([ID], [FULLNAME], [BIRTHDAY], [NUMBER], [ADDRESS]) VALUES (N'001001    ', N'Phan Trần Nhật Hạ', CAST(N'2003-01-22' AS Date), N'0913119779 ', N'Đà Nẵng')
INSERT [dbo].[ACCOUNT_INFO] ([ID], [FULLNAME], [BIRTHDAY], [NUMBER], [ADDRESS]) VALUES (N'001002    ', N'Nguyễn Đức Huy', CAST(N'2003-04-25' AS Date), N'0917345739 ', N'Đà Nẵng')
INSERT [dbo].[ACCOUNT_INFO] ([ID], [FULLNAME], [BIRTHDAY], [NUMBER], [ADDRESS]) VALUES (N'001003    ', N'Trần Lê Như Quỳnh', CAST(N'2003-12-01' AS Date), N'0935461332 ', N'Đà Nẵng')
GO
INSERT [dbo].[CLASS] ([ID], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A01     ', N'BASIC01             ', N'A         ', CAST(N'17:20:00' AS Time), CAST(N'19:20:00' AS Time), N'Mon-Wed-Fri         ', N'101       ')
INSERT [dbo].[CLASS] ([ID], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A02     ', N'BASIC02             ', N'A         ', CAST(N'19:30:00' AS Time), CAST(N'21:30:00' AS Time), N'Mon-Wed-Fri         ', N'102       ')
INSERT [dbo].[CLASS] ([ID], [NAME], [ID_LEVEL], [BEGIN_TIME], [END_TIME], [DAYS], [ROOM]) VALUES (N'01A03     ', N'BASIC03             ', N'A         ', CAST(N'17:20:00' AS Time), CAST(N'19:20:00' AS Time), N'Tue-Thur-Sat        ', N'101       ')
GO
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'A         ', N'BASIC                                             ', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 1500.0000)
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'B         ', N'INDEPENDENT                                       ', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 2000.0000)
INSERT [dbo].[LEVEL] ([ID_LEVEL], [NAME_LEVEL], [BEGIN_DATE], [END_DATE], [COST]) VALUES (N'C         ', N'PROFICIENT                                        ', CAST(N'2023-01-01' AS Date), CAST(N'2023-04-01' AS Date), 2500.0000)
GO
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [TUITION], [STATUS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101001    ', N'01A01     ', 1500.0000, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [TUITION], [STATUS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101002    ', N'01A02     ', 1500.0000, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [TUITION], [STATUS], [MARK1], [MARK2], [MARK3], [MARK4], [MARK5]) VALUES (N'101003    ', N'01B01     ', 2000.0000, 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TEACHER] ([ID], [ID_CLASS], [ROLE]) VALUES (N'201001    ', N'01A01     ', NULL)
INSERT [dbo].[TEACHER] ([ID], [ID_CLASS], [ROLE]) VALUES (N'201002    ', N'01A01     ', NULL)
INSERT [dbo].[TEACHER] ([ID], [ID_CLASS], [ROLE]) VALUES (N'201003    ', N'01A02     ', NULL)
GO
ALTER TABLE [dbo].[ACCOUNT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_INFO_ACCOUNT] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_INFO] CHECK CONSTRAINT [FK_ACCOUNT_INFO_ACCOUNT]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_LEVEL] FOREIGN KEY([ID_LEVEL])
REFERENCES [dbo].[LEVEL] ([ID_LEVEL])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_LEVEL]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_ACCOUNT] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_ACCOUNT]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_CLASS]
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_ACCOUNT1] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[TEACHER] CHECK CONSTRAINT [FK_TEACHER_ACCOUNT1]
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[TEACHER] CHECK CONSTRAINT [FK_TEACHER_CLASS]
GO
