USE [master]
GO
/****** Object:  Database [OOAD]    Script Date: 4/4/2023 9:02:03 PM ******/
CREATE DATABASE [OOAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OOAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OOAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOAD]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 4/4/2023 9:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[ID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Date] [date] NULL,
	[Begin_Time] [time](7) NULL,
	[End_Time] [time](7) NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminder]    Script Date: 4/4/2023 9:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminder](
	[ID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Date] [date] NULL,
	[Begin_Time] [time](7) NULL,
	[End_Time] [time](7) NULL,
 CONSTRAINT [PK_Reminder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Appointment] ([ID], [Name], [Location], [Date], [Begin_Time], [End_Time]) VALUES (N'1', N'Do1', N'Location1', CAST(N'2023-04-04' AS Date), CAST(N'06:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Appointment] ([ID], [Name], [Location], [Date], [Begin_Time], [End_Time]) VALUES (N'2', N'Do2', N'Location2', CAST(N'2023-04-05' AS Date), CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[Appointment] ([ID], [Name], [Location], [Date], [Begin_Time], [End_Time]) VALUES (N'3', N'Do3', N'Location3', CAST(N'2023-04-06' AS Date), CAST(N'06:00:00' AS Time), CAST(N'12:00:00' AS Time))
GO
INSERT [dbo].[Reminder] ([ID], [Name], [Location], [Date], [Begin_Time], [End_Time]) VALUES (N'1', N'Do1', N'Location1', CAST(N'2023-04-04' AS Date), CAST(N'06:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Reminder] ([ID], [Name], [Location], [Date], [Begin_Time], [End_Time]) VALUES (N'3', N'Do3', N'Location3', CAST(N'2023-04-06' AS Date), CAST(N'06:00:00' AS Time), CAST(N'12:00:00' AS Time))
GO
USE [master]
GO
