USE [master]
GO
/****** Object:  Database [QLSV_3layers]    Script Date: 3/30/2023 7:02:06 PM ******/
CREATE DATABASE [QLSV_3layers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_3layers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSV_3layers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_3layers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSV_3layers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV_3layers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV_3layers]
GO
/****** Object:  Table [dbo].[LSH]    Script Date: 3/30/2023 7:02:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSH](
	[IDLop] [int] NOT NULL,
	[NameLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[IDLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SV]    Script Date: 3/30/2023 7:02:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV](
	[MSSV] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[IDLop] [int] NULL,
	[NgaySinh] [date] NULL,
	[DTB] [float] NULL,
	[GioiTinh] [bit] NULL,
	[Anh] [bit] NULL,
	[HB] [bit] NULL,
	[CCCD] [bit] NULL,
 CONSTRAINT [PK_SV] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LSH] ([IDLop], [NameLop]) VALUES (1, N'21DT1')
INSERT [dbo].[LSH] ([IDLop], [NameLop]) VALUES (2, N'21DT2')
INSERT [dbo].[LSH] ([IDLop], [NameLop]) VALUES (3, N'21DT3')
GO
INSERT [dbo].[SV] ([MSSV], [HoTen], [IDLop], [NgaySinh], [DTB], [GioiTinh], [Anh], [HB], [CCCD]) VALUES (100, N'NVA', 3, CAST(N'2003-10-02' AS Date), 1, 0, 1, 1, 0)
INSERT [dbo].[SV] ([MSSV], [HoTen], [IDLop], [NgaySinh], [DTB], [GioiTinh], [Anh], [HB], [CCCD]) VALUES (200, N'NVB', 2, CAST(N'2023-03-30' AS Date), 2, 0, 1, 0, 0)
INSERT [dbo].[SV] ([MSSV], [HoTen], [IDLop], [NgaySinh], [DTB], [GioiTinh], [Anh], [HB], [CCCD]) VALUES (300, N'NVC', 2, CAST(N'2003-11-03' AS Date), 2.2, 0, 1, 0, 1)
GO
ALTER TABLE [dbo].[SV]  WITH CHECK ADD  CONSTRAINT [FK_SV_LSH] FOREIGN KEY([IDLop])
REFERENCES [dbo].[LSH] ([IDLop])
GO
ALTER TABLE [dbo].[SV] CHECK CONSTRAINT [FK_SV_LSH]
GO
USE [master]
GO
